@{
  Layout = "_Layout";
}

<a href='@Url.Action("Index", "Employees")'>
  <button>See All Employees</button>
</a>
<a href='@Url.Action("Index", "Pets")'>
  <button>See All Pets</button>
</a>
<a href='@Url.Action("Index", "Parents")'>
  <button>See All Parents</button>
</a>
<a href='@Url.Action("Index", "Appointments")'>
  <button>See All Appointments</button>
</a>