:root {
  --header-height: 4rem;
}

*, * *, * * * {
	box-sizing: border-box;
}

body {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.25rem;
	margin: 0 1rem;
	background-color: #222;
	color: #ddd;
  padding: var(--header-height) 0;
}

header, footer {
  position:fixed;
	left:0px;
	width:100%;
	background:#111;
  color: #baffb8;
  display: flex;
  align-items: center;
  width: 100%;
}

header {
  height: var(--header-height);
  padding: 0 1rem;
  top: 0;
}

header h1 {
  font-size: 2rem;
}

a {
	color: rgb(158, 219, 79);
	text-decoration: none;
}

ul {
	list-style-type: none;
	width: 95vw;
	min-width: 20rem;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

li {
	background-color: #ffffff22;
	padding: 0 1rem;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

textarea {
  width: 16rem;
  height: 6rem;
}

.groomer-list > li {
  gap: 1rem;
  width: 95vw;
}
.groomer-list > li > div {
  width: 10rem;
}
.groomer-list > li > div:nth-child(3) {
  flex-grow: 1;
}

.pet-list {
  flex-direction: row;
}

.pet-list > li {
  padding: 1rem;
  width: min-content;
  min-width: 8rem;
  justify-content: center;
}

form {
	display: flex;
	flex-direction: column;
	width: 20rem;
	min-width: 20rem;
	/* gap: 1rem; */
}

form > .form-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem;
  gap: 1rem;
  width: max-content;
  background-color: #ffffff11;
}
form > .form-row:nth-child(odd) {
  background-color: #ffffff22;
}

form > .form-column {
	display: flex;
  flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 1rem;
  gap: 1rem;
  width: 20rem;
}
form > .form-column > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-text-input-area > span:first-of-type {
  width: max-content;
}
.form-text-input-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 22rem;
  min-width: 22rem;
}

input, select {
	padding: 0.25rem 0.5rem;
	font-family: inherit;
	font-size: inherit;
  min-width: 10rem;
}

button {
	font-family: inherit;
	font-size: inherit;
	padding: 1rem;
	background-color: rgb(94, 94, 94);
	color: #eee;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: color 300ms ease, scale 300ms ease, outline 200ms ease;
	margin: 2rem 0.5rem;
  border-width: 0;
}

button.green {
	background-color: green;
}

button.yellow {
	background-color: rgb(152, 152, 0);
}

button.red {
	background-color: rgb(159, 0, 0);
}

button:hover {
	outline: 0.25rem solid rgb(169, 236, 246);
	scale: 1.05;
	color: rgb(169, 236, 246);
}
button:active {
	scale: 0.9;
}

footer {
	bottom:0px;
  height: calc(var(--header-height) / 2);
  justify-content: center;
	padding:8px;
}